{% extends 'shop/_layouts/main.authenticated.twig' %}

{% block ordersLink %}
    {% set active = true %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="account-content">
        <h2 class="black mb-5 mb-lg-4">Bestellingen</h2>
        <div class="scroll-table-wrap mb-2">
            <div class="jcf-scrollable">
                <table class="table table-hover table-order">
                    <thead>
                    <tr>
                        <th scope="col">Ordernummer</th>
                        <th scope="col">Datum</th>
                        <th scope="col">Status</th>
                        <th scope="col">Items</th>
                        <th scope="col">Bedrag</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% set orders = craft.orders().customerId(currentUser.id).isCompleted(true).all() %}
                    {% for order in orders %}
                        <tr>
                            <td class="text-warning"><a href="{{ url('shop/customer/orders/order') }}?number={{ order.number }}">#{{ order.reference }}</a></td>
                            <td>{{ order.dateCreated|date("d-m-Y") }}</td>
                            <td>{{ order.orderStatus }}</td>
                            <td>{{ order.lineItems|length }}</td>
                            <td>{{ order.total|currency("EUR") }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}