{% extends 'shop/_layouts/main.authenticated.twig' %}

{% set number = craft.app.request.param('number') %}
{% set order = craft.orders.number(number).isCompleted(true).one() %}

{% if not order %}
    {% redirect 'shop/customer' %}
{% endif %}

{% block ordersLink %}
    {% set active = true %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="account-content">
        <h2 class="black mb-5 account-head-small">Bestelling #{{ order.reference }}</h2>
        <div class="order-details-box mb-1 mb-lg-6">
            <div class="row">
                <div class="col-md-6 col-lg-4 order-lg-2">
                    <div class="info">
                        <div class="icon"><i class="ti-package"></i></div>
                        <div class="text">
                            <h3 class="h5">Bezorgadres</h3>
                            <address>
                                {{ currentUser.fullName }}<br>
                                {{ order.shippingAddress.address1 }} <br>
                                {{ order.shippingAddress.address2 }} <br>
                                {{ order.shippingAddress.country.name }} <br>
                                {{ order.shippingAddress.zipCode }}
                            </address>
                        </div>
                    </div>
                    <div class="info align-items-center">
                        <div class="icon"><i class="ti-new-window"></i></div>
                        <div class="text">
                            <a href="#" class="text-warning" target="_blank">Track & Trace</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 order-lg-3">
                    <div class="info">
                        <div class="icon"><i class="ti-credit-card"></i></div>
                        <div class="text">
                            <h3 class="h5">Factuuradres</h3>
                            <address>
                                {{ currentUser.fullName }}<br>
                                {{ order.billingAddress.address1 }} <br>
                                {{ order.billingAddress.address2 }} <br>
                                {{ order.billingAddress.country.name }} <br>
                                {{ order.billingAddress.zipCode }}
                            </address>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 order-lg-1">
                    <dl class="order-details-list">
                        <dt>E-mail</dt>
                        <dd>{{ order.email }}</dd>
                        <dt>Datum</dt>
                        <dd>{{ order.dateCreated|date("d F Y") }}</dd>
                        <dt>Betaald</dt>
                        <dd>{{ order.total|currency("EUR") }},-</dd>
                        <dt>Status</dt>
                        <dd>{{ order.orderStatus }}</dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="scroll-table-wrap">
            <div class="jcf-scrollable">
                <table class="table table-hover table-order table-details">
                    <thead>
                    <tr>
                        <th scope="col">Item</th>
                        <th scope="col">Variant</th>
                        <th scope="col">Aantal</th>
                        <th scope="col">Bedrag</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for lineItem in order.lineItems %}
                        <tr>
                            <td>{{ lineItem.snapshot['title'] }}</td>
                            <td>
                                {% set variant = craft.variants().productId(lineItem.snapshot['productId']).one() %}
                                {% if variant %}
                                    {{ variant.title }}
                                {% endif %}
                            </td>
                            <td>{{ lineItem.qty }}</td>
                            <td>{{ lineItem.price|currency("EUR") }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="total-row d-flex justify-content-between align-items-center">
            <span>Totaal</span>
            <span class="price">{{ order.total|currency("EUR") }}</span>
        </div>
    </div>
{% endblock %}
