{% extends 'base.layout.html.twig' %}
{% set section = craft.sections.getSectionByHandle('brands') %}
{% block title %} {{ section is null ? siteName : section.name }} {% endblock %}

{% block main %}
    <section class="brand-section">
        <div class="container">
            <div class="text">
                <h2>Onze merken</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut mollis commodo scelerisque. Cras
                    lacus urna, rutrum at mi nec, accumsan porta dui. In sagittis eleifend dui et eleifend. Donec
                    finibus nulla lorem, non tristique turpis mattis ac. Vestibulum vitae diam non purus ornare
                    sodales ac sed mi. Nulla ut gravida arcu. Aenean at aliquet arcu. Donec elementum tellus id
                    malesuada lobortis. Curabitur vel dictum enim. Nunc malesuada elementum mauris, sit amet
                    sagittis magna gravida vel. In quam urna, dignissim id velit quis, lobortis porttitor
                    ligula.</p>
            </div>
            {% set brands = craft.entries().section('brands').orderBy('title asc').all() %}
            {% set brandsByLetter, currentLetterBrands, currentLetter = [], [], null %}

            {% for brand in brands if not brand.title is empty %}
                {% set brandFirstLetter = brand.title|first|upper %}
                {% set currentLetter = currentLetter is null ? brandFirstLetter : currentLetter %}

                {% if (currentLetter != brandFirstLetter) %}
                    {% set brandsByLetter = brandsByLetter|merge({(currentLetter): currentLetterBrands}) %}
                    {% set currentLetter, currentLetterBrands = brandFirstLetter, [] %}
                {% endif %}

                {% set currentLetterBrands = currentLetterBrands|merge([brand]) %}
            {% endfor %}
            {% set brandsByLetter = brandsByLetter|merge({(currentLetter): currentLetterBrands}) %}

            <ul class="alphabet-list">
                {% set availableLetters = brandsByLetter|keys %}
                {% for letter in range('A','Z') %}
                    <li><a href="#{{ letter }}" class="alphabet-item {{ letter in availableLetters ? 'active' : 'disabled' }}">{{ letter }}</a></li>
                {% endfor %}
            </ul>

            {% for letter in availableLetters %}
                <div class="sorted-brands-wrap">
                    <p class="symbol">{{ letter }}</p>
                    <div class="jcf-scrollable-wrapper">
                        <p><a name="{{ letter }}"></a></p>
                        <div class="jcf-scrollable">
                            <div class="brands-wrap">
                                {% for brand in brandsByLetter[letter] %}
                                    <a href="{{ brand.brandLink }}" class="brand-iten" target="_blank">
                                        {% if brand.brandImage is defined %}
                                            {% set brandImage = brand.brandImage.one() %}
                                            {% set imageUrl = brandImage is null ? 'https://dummyimage.com/153X115' : brandImage.getUrl() %}
                                            <img src="{{ imageUrl }}" srcset="{{ imageUrl }}" alt="{{ brand.title }}">
                                        {% endif %}
                                        <span>{{ brand.brandDescription is empty ? "Please, add description to brand " ~ brand.title : brand.brandDescription }}</span>
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
   {% include "jumbotron_section.twig" %}
{% endblock %}
