{% extends 'base.layout.html.twig' %}
{% set section = craft.sections.getSectionByHandle('blogs') %}
{% block title %} {{ section is null ? siteName : section.name }} {% endblock %}
{% block main %}
    {% set blogs = craft.entries().section('blogs').orderBy('blogDate DESC').limit(siteSettings.pageCount) %}
    <section class="articles-section">
        <div class="container">
            <div class="row justify-content-lg-center">
                <div class="col-lg-10">
                    {% paginate blogs as pageInfo, pageBlogs %}
                    {% for blog in pageBlogs %}
                        <!-- article -->
                        <article class="article-preview bg-stretch">
                            <a href="{{ blog.url }}">
                                {% if blog.blogImage is defined %}
                                    {% set blogImage = blog.blogImage.one() %}
                                    {% set imageUrl = blogImage is null ? 'https://dummyimage.com/968X484' : blogImage.getUrl() %}
                                    <div class="img-wrap bg-stretch">
                                        <span data-srcset="{{ imageUrl }}"></span>
                                    </div>
                                {% endif %}

                                <div class="preview-text">
                                    <div class="date">
                                        <time datetime="{{ blog.blogDate|date('Y-m-d') }}">{{ blog.blogDate|date(blogSettings.dateFormat) }}</time>
                                    </div>
                                    <h2>{{ blog.title }}</h2>
                                    <p>{{ blog.blogPreviewText }}</p>
                                    <span class="link-arrow text-warning">Lees artikel <i
                                                class="icon ti-arrow-right"></i></span>
                                </div>
                            </a>
                        </article>
                        <!-- article -->
                    {% endfor %}
                    {% if pageInfo.prevUrl %}
                        <a href="{{ pageInfo.prevUrl }}">Previous Page</a>
                    {% endif %}
                    {% if pageInfo.nextUrl %}
                        <a href="{{ pageInfo.nextUrl }}">Next Page</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    {% include "blogs/visual_section.twig" %}
    {% include "jumbotron_section.twig" %}
{% endblock %}