<section class="visual-section bg-stretch">
    <span data-srcset="/images/img-11.jpg, /images/img-11-2x.jpg 2x, /images/img-11-3x.jpg 3x"></span>
    <div class="container">
        <div class="text text-secondary">
            <h1>Informatie op maat? Kom naar onze showroom!</h1>
            <p>Onze vakmensen en monteurs helpen je bij al je sauna- en zwembadvragen</p>
            <a href="#" class="btn btn-primary">Afspraak maken</a>
        </div>
    </div>
</section>
