{% set breadcrumbs = {("Home"|t):url("shop")} %}
{% set current = null %}
{% set categories = [] %}

{% if category is not defined and product is defined %}
    {% set categories = product.productCategories %}
    {% set current = {(product.title):(product.url)} %}
{% endif %}

{% if category is defined %}
    {% set categories = craft.categories()
        .group('productCategories')
        .ancestorOf(category)
        .all()
    %}

    {% set current = {(category.title):(category.url)} %}
{% endif %}

{% set level = 0 %}
{% for category in categories if level < category.level %}
    {# only the deepest categories from the first level tree #}
    {% set breadcrumbs = breadcrumbs | merge({(category.title):(category.url)}) %}
    {% set level = category.level %}
{% endfor %}

{% if current %}
    {% set breadcrumbs = breadcrumbs | merge(current) %}
{% endif %}

<ol class="breadcrumb">
    {% for crumbName, crumbUrl in breadcrumbs %}
        {% if loop.last %}
            <li class="breadcrumb-item active" aria-current="page">{{ crumbName }}</li>
        {% else %}
            <li class="breadcrumb-item"><a href="{{ crumbUrl }}">{{ crumbName }}</a></li>
        {% endif %}
    {% endfor %}
</ol>
