{% extends 'base.html.twig' %}
{% block stylesheets %}
    <!-- include the site stylesheet -->
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,700&display=swap" rel="stylesheet">
    {% includeCssFile "/css/bootstrap.css" %}
    {% includeCssFile "/css/fancybox.css" %}
    {% includeCssFile "/css/main.css" %}
    <!-- include jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" defer></script>
    <script>window.jQuery || document.write('<script src="/js/jquery-3.3.1.min.js" defer><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" crossorigin="anonymous"
            defer></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"
            defer></script>
    <!-- include custom JavaScript -->
    <script src="/js/jquery.main.js" defer></script>
{% endblock %}
{% if cart is not defined %}
    {% set cart = craft.commerce.carts.cart %}
{% endif %}
{% block body %}
    <div id="wrapper">
        <!-- header of the page -->
        <!-- contain main informative part of the site -->
        <main id="main">
            {% block main %}
                <!-- account section -->
                <section class="account-section">
                    <div class="container">
                        <div class="row justify-content-md-between">
                            <div class="col-md-4 col-lg-3">
                                <div class="account-aside mb-5">
                                    <h2 class="h4 black mb-3">Account</h2>
                                    <div class="select-open-holder">
                                        <span class="select-opener"></span>
                                        <div class="select-slide">
                                            {% block ordersLink %}
                                                {% set active = active|default(false) %}
                                                <a href="{{ url('/shop/customer/orders') }}" class={{ active ? "active-page" : "" }}>Bestellingen</a>
                                            {% endblock %}
                                            {% block wishlistLink %}
                                                {% set active = active|default(false) %}
                                                <a href="{{ url('/shop/customer/wishlist') }}" class={{ active ? "active-page" : "" }}>Verlanglijst</a>
                                            {% endblock %}
                                            {% block profileLink %}
                                                {% set active = active|default(false) %}
                                                <a href="{{ url('/shop/customer/profile') }}" class={{ active ? "active-page" : "" }}>Profiel</a>
                                            {% endblock %}
                                            {% block addressesLink %}
                                                {% set active = active|default(false) %}
                                                <a href="{{ url('/shop/customer/addresses') }}" class={{ active ? "active-page" : "" }}>Adressen</a>
                                            {% endblock %}
                                            <a href="{{ url('/logout') }}">Uitloggen</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8 col-lg-9">
                                {% block content %}
                                {% endblock %}
                            </div>
                        </div>
                    </div>
                </section>
            {% endblock %}
        </main>
    </div>
{% endblock %}
