<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>{{ "Craft Commerce"|t }}</title>

    <meta name="description" content="{{ "The example templates for Craft Commerce"|t }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script type="application/javascript">{% include 'shop/jquery.js' %}</script>
    <style>{% include 'shop/tailwind.css' %}</style>
    <style>{% include 'shop/style.css' %}</style>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    {% if extraHead is defined %}
        {{ extraHead }}
    {% endif %}
</head>
<body class="bg-grey-lightest">
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

{% if cart is not defined %}
    {% set cart = craft.commerce.carts.cart %}
{% endif %}


{% if showNav is not defined %}
    {% set showNav = true %}
{% endif %}

<div class="bg-grey-lighter">
    <div id="header" class="container mx-auto md:flex justify-between items-center p-6 text-center">
        <a href="{{ url('shop') }}" class="brand mb-6 md:mb-0 block">{%- include "shop/_images/logo" with {'class': 'logo'} -%}</a>

        {% if showNav %}
            {% include "shop/_includes/nav" %}
        {% endif %}

        {% if extraHeader is defined %}
            {{ extraHeader }}
        {% endif %}
    </div>
</div>

{% set flashNotice = craft.app.session.getFlash('notice') %}

{% if flashNotice %}
    <div class="bg-blue text-white">
        <div class="container mx-auto px-6 py-4">
            {{ flashNotice }}
        </div>
    </div>
{% endif %}

{% set flashError = craft.app.session.getFlash('error') %}

{% if flashError %}
    <div class="bg-red text-white">
        <div class="container mx-auto px-6 py-4">
            {{ flashError }}
        </div>
    </div>
{% endif %}

{% if cart.errors|length %}
    <div class="bg-red text-white">
        <div class="container mx-auto px-6 py-4">
            {% for attribute, errors in cart.errors %}
                {% if loop.first %}<ul>{% endif %}
                {% for key, error in errors %}
                    <li>{{ attribute }}: {{ error }}</li>
                {% endfor %}
                {% if loop.last %}</ul>{% endif %}
            {% endfor %}
        </div>
    </div>
{% endif %}

{% block body %}
    <div class="bg-white">
        <div id="main" class="container mx-auto p-6">
            {% block main %}
                <h1>Default Content</h1>
                <p>You should not see this.</p>
            {% endblock %}
        </div>
    </div>
{% endblock %}

<div>
    <div class="container mx-auto p-6">
        <h3>Commerce Cart Debug Info</h3>
        <ul>
            <li><strong>ID</strong> {{ cart.id }}</li>
            <li><strong>Number</strong> {{ cart.number }}</li>
            <li><strong>Short Number</strong> {{ cart.shortNumber }}</li>
            <li><strong>Email</strong> {{ cart.email }}</li>
            <li><strong>Customer ID</strong> {{ cart.customerId }}</li>
            <li><strong>User</strong> {{ cart.user }}</li>
            <li><strong>Shipping Address ID</strong> {{ cart.shippingAddressId }}</li>
            <li><strong>Billing Address ID</strong> {{ cart.billingAddressId }}</li>
            <li><strong>Shipping Method Handle</strong> {{ cart.shippingMethodHandle }}</li>
            <li><strong>Coupon</strong> {{ cart.couponCode }}</li>
            <li><strong>Currency</strong> {{ cart.currency }}</li>
            <li><strong>Payment Currency</strong> {{ cart.paymentCurrency }}</li>
            <li><strong>Gateway ID</strong> {{ cart.gatewayId }}</li>
            <li><strong>Payment Source ID</strong> {{ cart.paymentSourceId }}</li>
            <li><strong>Language</strong> {{ cart.orderLanguage }}</li>
            <li><strong>Payment Return URL</strong> {{ cart.returnUrl }}</li>
            <li><strong>Payment Cancel URL</strong> {{ cart.cancelUrl }}</li>
            <li><strong>Last IP</strong> {{ cart.lastIp }}</li>
        </ul>
    </div>
</div>
<footer>
    <div class="container mx-auto p-6">
        <h3>Welcome!</h3>
        <p>These are the Craft Commerce example templates.</p>
        <p>Resources:</p>
        <ul>
            <li><a href="https://craftcommerce.com/docs">Craft Commerce Documentation</a>.</li>
            <li><a href="https://craftcms.com/docs/introduction">Craft CMS Documentation</a>.</li>
            <li><a href="http://craftcms.stackexchange.com">Craft CMS Stack Exchange</a>. Use the <code>plugin-craftcommerce</code> tag.</li>
            <li><a href="https://craftcms.com/discord">Craft Discord Community</a>. Use the <code>#commerce2</code> channel.</li>
        </ul>
    </div>
</footer>

{#
    The following javascript polls the server every 10 seconds and sees if the cart has changed on another session or browser tab
    and will refresh the page if the current page is out of date. This prevents the customer from changing the cart on another tab,
    then submitting an update cart form action that might overwrite the changes on the other page.
#}
{% js %}
    function doPoll(){
    console.log('Commerce example templates : Polling to see if the order changed on another tab or session');
    $.ajax({
    url: '',
    data: {
    '{{ craft.config.csrfTokenName|e('js') }}': '{{ craft.request.csrfToken|e('js') }}',
    'action': 'commerce/cart/get-cart'
    },
    success: function(data) {
    var orderNumberChanged = (data.cart.number != '{{ cart.number }}');
    var orderTotalChanged = (data.cart.totalQty != '{{ cart.totalQty }}');
    var orderTotalPriceChanged = (data.cart.totalPrice != '{{ cart.totalPrice }}');
    if(orderNumberChanged || orderTotalChanged || orderTotalPriceChanged){
    console.log({'orderNumberChanged' : orderNumberChanged, 'orderTotalChanged' : orderTotalChanged, 'orderTotalPriceChanged': orderTotalPriceChanged});
    console.log('Order changed.');
    var r = confirm("Your cart has been updated elsewhere, reload the page?");
    if (r == true) {
    location.reload(true);
    }
    }else{
    console.log('Commerce example templates : Nothing changed, checking again in 30 seconds.');
    }
    setTimeout(doPoll,30000);
    },
    dataType: 'json'
    });
    }

    doPoll();
{% endjs %}

</body>
</html>
