{% if currentUser %}
    {% redirect 'shop/customer' %}
{% endif %}

{% extends 'shop/_layouts/main' %}


{% block main %}
<!-- checkout section -->
    <section class="checkout-section">
    <div class="container mb-7 mb-lg-8">
        <!-- progress bar -->
        <div class="row justify-content-lg-center">
            <div class="col-lg-8">
                <div class="progress-wrap">
                    <div class="progress">
                        <div class="progress-bar bg-warning" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <ul class="progress-list">
                    <li class="active">Account</li>
                    <li>Gegevens</li>
                    <li>Bezorgen</li>
                    <li>Betalen</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="checkout-content bg-light">
        <div class="container">
            <div class="row justify-content-lg-around">
                <div class="col-md-6 col-lg-5 col-xl-4 mb-6 mb-md-0">
                    <!-- login form -->
                    <form method="post" accept-charset="UTF-8">
                        {{ csrfInput() }}
                        <input type="hidden" name="action" value="users/login">
                        {{ redirectInput('shop/customer/profile') }}
                        <div class="checkout-form-header mb-5 mb-lg-6">
                            <h2 class="black">Inloggen</h2>
                            <p>Lorem ipsum dolor sit consectetur adipiscing elit</p>
                        </div>
                        <div class="d-flex flex-column d-md-block">
                            <div class="form-group mb-4">
                                <input id="loginName" class="form-control" type="email" name="loginName" placeholder="Frank.laubach@gmail.com"
                                       value="{{ craft.app.user.getRememberedUsername() }}">
                            </div>
                            <div class="form-group mb-4">
                                <div class="password-input-wrap">
                                    <input id="loginPassword" name="password"  type="password" class="form-control" placeholder="*******">
                                    <span class="show-btn"><i class="ti-eye"></i></span>
                                </div>
                            </div>
                            <div class="form-group mb-4">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="logged" name="rememberMe" value="1">
                                    <label class="custom-control-label" for="logged">Ingelogd blijven</label>
                                </div>
                            </div>
                            <div class="d-flex flex-column flex-md-row justify-content-md-between align-items-md-center">
                                <button type="submit" class="btn btn-warning btn-lg mb-2">Inloggen</button>
                                <div class="text-center small"><a href="#" class="text-warning">Wachtwoord vergeten</a></div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-6 col-lg-5 col-xl-4">
                    <div class="checkout-form-header mb-5 mb-lg-6">
                        <h2 class="black">Doorgaan als gast</h2>
                        <p>Lorem ipsum dolor sit consectetur adipiscing elit</p>
                    </div>
                    <div class="d-flex flex-column d-md-block">
                        <a href="#" class="btn btn-light btn-white">Doorgaan als gast</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}