.articles-section {
  margin-left: -30px;
  margin-right: -30px;

  @include media-breakpoint-up(lg) {
    margin: 0;
    padding: rem-calc(40 0);
  }
  
  @include media-breakpoint-up(xl) {
    padding: rem-calc(40 0 150);
  }
}

.article-preview {
  @include media-breakpoint-up(lg) {
    position: relative;
    margin: rem-calc(0 0 30);
    z-index: 1;
  }

  .img-wrap {
    position: relative;
    padding-top: 50%;
    transition: transform 0.3s;
    z-index: 1;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
  }

  a {
    display: block;
    color: $black;
    overflow: hidden;

    &:hover {
      .img-wrap {
        transform: scale(1.05);
      }
    }
  }
  
  .preview-text {
    font-weight: 300;

    @include media-breakpoint-up(lg) {
      position: absolute;
      bottom: 20px;
      right: 0;
      max-width: 670px;
      max-height: calc(100% - 40px);
      overflow: auto;
      z-index: 1;
    }

    >span,
    .link-arrow {
      font-weight: normal;
      font-size: rem-calc(14);
      line-height: 1.8;
    }
  }
}

.preview-text {
  padding: rem-calc(24 30 34);
  background-color: $white;

  @include media-breakpoint-up(xl) {
    padding: rem-calc(40 90 45);
  }
  
  .date {
    margin-bottom: rem-calc(2);
    color: $gray-700;
    font-weight: 300;
  
    @include media-breakpoint-up(lg) {
      margin-bottom: rem-calc(20);
    }
  }
  
  h2 {
    font-size: rem-calc(20);
    margin-bottom: rem-calc(2);
    
    @include media-breakpoint-up(lg) {
      margin-bottom: rem-calc(10);
    }
  }
  
  p {
    margin-bottom: rem-calc(12);
  
    @include media-breakpoint-up(lg) {
      margin-bottom: 0;
    }
  }
}