.footer {
  background-color: $gray-100;
  padding: rem-calc(21 0 0);

  @include media-breakpoint-up(xl) {
    padding: rem-calc(65 0 9);
  }
}

.footer-heading {
  font-size: rem-calc(20);
  line-height: 2;
  margin-bottom: rem-calc(14);
  color: $black;
  
  @include media-breakpoint-up(xl) {
    margin-bottom: rem-calc(30);
  }
}

.decor-list {
  @extend %listreset;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: rem-calc(12);
  
  @include media-breakpoint-up(lg) {
    font-size: rem-calc(14);
  }

  li {
    position: relative;
    width: 46%;
    padding: rem-calc(0 6 0 25);
    margin: rem-calc(0 0 16);
    z-index: 1;
    
    @include media-breakpoint-up(md) {
      width: 50%;
    }
    
    @include media-breakpoint-up(xl) {
      margin: rem-calc(0 0 19);
    }
  }

  .icon {
    position: absolute;
    top: 3px;
    left: 0;
    color: $orange;
  }

  a {
    color: $gray-700;
  }
}

.payment-list {
  list-style: none;
  padding: 0;
  margin-bottom: rem-calc(24);
  display: flex;
  flex-wrap: wrap;
  // justify-content: center;
  text-align: center;
  margin-left: -15px;
  margin-right: -15px;
  font-size: rem-calc(12);

  @include media-breakpoint-up(lg) {
    justify-content: flex-start;
  }

  li {
    margin: rem-calc(0 15 22);
    width: 70px;
    flex-shrink: 0;
  }

  img {
    display: block;
    @include size(50px);
    margin: 0 auto 10px;
    border-radius: 6px;
    box-shadow: 0 2px 5px -2px rgba($black, 0.5);
  }
}

.address-wrapp {
  margin-bottom: rem-calc(40);

  .icon {
    display: inline-block;
    vertical-align: top;
    font-size: rem-calc(20);
    margin-right: rem-calc(20);
    color: $orange;
  }
  
  a {
    color: $orange;
  }
}

.address-footer {
  font-size: rem-calc(14);
  line-height: 1.71;
  margin-bottom: rem-calc(4);

  p {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 44px);
  }
}

.social-list {
  @extend %listreset;
  font-size: rem-calc(14);
  line-height: 1.71;
  
  .icon {
    display: inline-block;
    vertical-align: top;
    font-size: rem-calc(20);
    margin-right: rem-calc(20);
    color: $primary;
  }
}

.footer-top {
  margin-bottom: rem-calc(61);
  
  @include media-breakpoint-up(xl) {
    margin-bottom: rem-calc(73);
  }
}

.footer-bottom {
  text-align: center;
  font-size: rem-calc(14);
  line-height: 2.86;
  color: $gray-500;
}