.hero-small-section {
  @include media-breakpoint-up(lg) {
    padding-top: rem-calc(70);
    background-color: $primary;
  }

  .breadcrumb {
    margin-bottom: 0;
  }
}

.hero-breadcrumb {
  font-size: rem-calc(10);
  background-color: $primary;
  
  @include media-breakpoint-up(lg) {
    font-size: rem-calc(14);
    background-color: transparent;
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgba($black, 0.3));
  }

  .breadcrumb {
    margin-bottom: 0;
    
    @include media-breakpoint-up(lg) {
      padding: rem-calc(15 0 14);
      background-color: transparent;
    }
  }

  .breadcrumb-item {
    &.active {
      @include media-breakpoint-up(lg) {
        opacity: 0.5;
      }
    }
  }

  a {
    color: $white;
  }
}


.breadcrumb-item + .breadcrumb-item {
  &:before {
    content: "\e661";
    font-family: 'themify';
    font-size: 8px;
    
    @include media-breakpoint-up(lg) {
      font-size: 12px;
    }
  }
}