.hero-article {
  position: relative;
  margin: rem-calc(0 0 20);
  z-index: 1;

  @include media-breakpoint-up(lg) {
    min-height: 720px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: rem-calc(0 0 80);
  }

  .img-wrap {
    position: relative;
    padding-top: 50%;
    z-index: 1;
    background-color: $gray-100;

    @include media-breakpoint-up(lg) {
      @include absolute();
      padding: 0;
      z-index: -1;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
  }

  .hero-breadcrumb {
    @include media-breakpoint-up(lg) {
      width: 100%;
    }
  }

  .preview-text {
    padding-left: 0;
    padding-right: 0;
    
    @include media-breakpoint-up(lg) {
      font-size: rem-calc(18);
      line-height: 1.67;
      position: relative;
      display: inline-block;
      text-align: left;
      max-width: 825px;
      padding: rem-calc(44 46 73 58);
      z-index: 1;
    }

    &:after {
      @include media-breakpoint-up(lg) {
        content:'';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 50%;
        width: 50vw;
        z-index: -1;
        background-color: inherit;
      }
    }

    .date {
      @include media-breakpoint-up(lg) {
        font-size: rem-calc(24);
        margin-bottom: rem-calc(14);
      }
    }

    h2 {
      @include media-breakpoint-up(lg) {
        font-size: rem-calc(32);
        margin-bottom: rem-calc(20);
      }
    }
  }

  >.container {
    @include media-breakpoint-up(lg) {
      margin-top: auto;
      margin-left: auto;
      text-align: right;
    }
  }
}