.video-wrap {
  position: relative;
  padding-top: 61%;
  margin-left: -30px;
  margin-right: -30px;
  
  @include media-breakpoint-up(lg) {
    padding-top: 56%;
    margin-left: 0;
    margin-right: 0;
    background-color: $gray-200-l;
  }

  iframe {
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    @include media-breakpoint-up(lg) {
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: calc(100% - 120px);
      height: calc(100% - 60px);
    }
  }
}

// .lightbox {
//   display: block;

//   &:after {
//     content:'';
//     @include center-vh;
//     @include triangle(43px 34px, $white, right);
//     opacity: 0.8;
//     @include animate(opacity);
//   }

//   &:hover {
//     &:after {
//       opacity: 1;
//     }
//   }
// }