.popup-side-wrap {
  
  &.fancybox-is-open {
    .fancybox-inner {
      transform: translateX(0);
    }

    .fancybox-bg {
      opacity: 0.3;
      
      @include media-breakpoint-up(lg) {
        opacity: 0.25;
      }
    }
  }
  
  .fancybox-inner {
    transform: translateX(100%);
    @include animate(transform);
  }

  .fancybox-slide--html {
    padding: 0;
  }
}

.popup-side {
  position: absolute;
  top: 0;
  right: 0;
  width: 330px;
  box-shadow: -4px 2px 10px 0 rgba($black, 0.3);
  padding: rem-calc(25 30 30);
  height: 100%;

  @include media-breakpoint-up(md) {
    width: 480px;
  }

  @include media-breakpoint-up(lg) {
    padding: rem-calc(30 60);
  }

  h2 {
    color: $black;
    margin-bottom: rem-calc(25);
    font-size: rem-calc(28);

    @include media-breakpoint-up(lg) {
      margin-bottom: rem-calc(46);
    }
  }

  >h2 {
    padding-right: rem-calc(22);
  }

  .fancybox-close-small {
    padding: 0;
    top: 30px;
    right: 30px;
    @include size(20px);

    &:after {
      content: "\e646";
      font-family: 'themify';
      @include center-vh;
      font-size: 20px;
    }

    svg {
      display: none;
    }
  }

  .btn {
    width: 100%;
    font-size: rem-calc(18);

    @include media-breakpoint-up(lg) {
      width: auto;
      min-width: 142px;
    }
  }

  .last-block {
    margin-top: auto;
  }
}

.cart-product-list {
  list-style: none;
  padding: 0;
  margin: rem-calc(0 0 20);
  
  @include media-breakpoint-up(lg) {
    margin: rem-calc(0 0 40);
  }

  .cart-product-item {
    @include media-breakpoint-up(lg) {
      margin-bottom: rem-calc(22);
    }
  }
}

.cart-product-item {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-shrink: 0;

  img {
    max-width: 100%;
  }

  .img-wrap {
    width: 100px;
    flex-shrink: 0;
    overflow: hidden;
  }

  .info {
    width: calc(100% - 110px);
    text-align: right;
    color: $black;
  }

  .title {
    display: block;
    color: $black;
    font-size: rem-calc(14);
    margin-bottom: rem-calc(19);
  }

  .price {
    display: inline-block;
    vertical-align: top;
    font-size: rem-calc(14);
    margin-bottom: rem-calc(12);

    // &:before {
    //   content:'€ ';
    // }
  }

  a {
    font-size: rem-calc(12);
  }
}

//popup-side-question ===============================
.popup-side-question {
  padding: rem-calc(29 30);
  
  @include media-breakpoint-up(lg) {
    padding: rem-calc(30 60);
  }

  h2 {
    font-size: rem-calc(22);
    margin-bottom: rem-calc(30);

    @include media-breakpoint-up(lg) {
      font-size: rem-calc(28);
      margin-bottom: rem-calc(44);
    }
  }
  
  .cart-product-item {
    margin-bottom: rem-calc(46);
    
    @include media-breakpoint-up(lg) {
      margin-bottom: rem-calc(20);
    }

    .title {
      margin-bottom: rem-calc(10);
    }
  }

  .inputs-wrap {
    @include media-breakpoint-up(lg) {
      margin-bottom: rem-calc(38);
    }
  }

  .btn {
    @include media-breakpoint-up(lg) {
      min-width: 153px;
    }
  }
}

// popup-form =============
.popup-form-wrap {
  h3 {
    color: $black;
  }

  p {
    font-weight: 300;
  }

  .last-block {
    h3 {
      @include media-breakpoint-up(lg) {
        margin-bottom: rem-calc(20);
      }
    }
  }
}

.popup-form {
  @include media-breakpoint-up(lg) {
    margin-bottom: rem-calc(77);
  }

  .custom-check {
    padding-left: 34px;
  }

  .btns-form-wrap {
    .small {
      font-size: 88%;
    }
  }


}