<!-- jumbotron -->
<section class="jumbotron">
    <div class="container">
        <div class="d-lg-flex justify-content-lg-between align-items-lg-center">
            <p class="pr-lg-2">Meld je aan voor onze nieuwsbrief en ontvang <span class="font-weight-bolder">vijf euro</span> korting</p>
            <a href="#" class="btn btn-outline-light">Aanmelden</a>
        </div>
    </div>
</section>