{% extends 'shop/_layouts/main' %}

{% set defaultVariant = product.defaultVariant %}

{% block content %}
    <section class="hero-small-section bg-stretch">
        <span data-srcset="images/img-01.jpg, images/img-01-2x.jpg 2x, images/img-01-3x.jpg 3x"></span>
        <!-- breadcrumb navigation -->
        <nav aria-label="breadcrumb" class="hero-breadcrumb">
            <div class="container">
                {% include "shop/products/_includes/breadcrumbs" %}
            </div>
        </nav>
    </section>
    <section class="product-details-section">
        <div class="container">
            <div class="row justify-content-xl-between">
                <div class="col-lg-4 col-xl-5">
                    {% set images = product.productImages.all %}

                    {% if images|length %}

                        <div class="fiexed-slider-wrap">
                            <div class="product-slick-slider">
                                <!-- slick gallery item -->
                                {% for img in images %}
                                    {% set focalPoint = img.getFocalPoint(true) %}

                                    {% set transformedImages = craft.imager.transformImage(img,
                                        [{ width: 1410, height: 1410 }, { width: 940, height: 940 }, { width: 470, height: 470 }],
                                        { mode: 'crop', position: img.getFocalPoint()}
                                    ) %}

                                    <div>
                                        <div class="slick-product-img">
                                            <img {{ transformedImages[2] }}" srcset="{{ transformedImages[1] }} 2x, {{ transformedImages[0] }} 3x" alt="{{ img.title }}">
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <!-- slick nav gallery structure -->
                            <div class="product-slider-nav">
                                {% for img in images %}
                                    {% set focalPoint = img.getFocalPoint(true) %}

                                    {% set transformedImages = craft.imager.transformImage(img,
                                        [{ width: 285, height: 285 }, { width: 190, height: 190 }, { width: 95, height: 95 }],
                                        { mode: 'crop', position: img.getFocalPoint()}
                                    ) %}

                                    <div>
                                        <div class="slick-product-img">
                                            <img {{ transformedImages[2] }}" srcset="{{ transformedImages[1] }} 2x, {{ transformedImages[0] }} 3x" alt="{{ img.title }}">
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                </div>
                <!-- single product information -->
                <div class="col-lg-8 col-xl-6">
                    <div class="product-detail-wrap d-lg-flex flex-lg-column flex-lg-wrap">
                        <h2 class="order-lg-1">{{ product.title }}</h2>
                        <div class="product-price order-lg-3">
                            {% if product.productLabelSale %}
                                <span class="old-price price-gray">{{ defaultVariant.price|commerceCurrency(cart.currency) }}</span>
                                <span class="price price-orange">{{ defaultVariant.salePrice|commerceCurrency(cart.currency) }}</span>
                            {% else %}
                                <span class="price price-gray">{{ defaultVariant.price|commerceCurrency(cart.currency) }}</span>
                            {% endif %}
                        </div>
                        <div class="d-lg-flex flex-lg-wrap order-lg-4">
                            <p class="addition-text order-lg-2">
                                <a href="#your-question" class="popup-side-link">Maatwerk nodig? Vraag vrijblijvend een
                                    offerte aan </a>
                            </p>
                            <form method="POST" class="add-to-cart-form total-amount-form order-lg-1">
                                {{ csrfInput() }}
                                {{ redirectInput('shop/cart') }}
                                <input type="hidden" name="action" value="commerce/cart/update-cart">
                                <input type="hidden" name="purchasableId" value="{{ defaultVariant.id }}">
                                <div class="d-flex">
                                    <div class="form-group">
                                        <input name="qty" type="number" min="0" value="1">
                                    </div>
                                    <div class="form-group">
                                            <button class="btn btn-warning" type="submit">{{ "In winkelmand"|t }}</button>
                                    </div>

                                    {% set item = craft.wishlist.item(product.id) %}
                                    {% set action = not item.inList() ? 'Op verlanglijst' : 'Verwijderen' %}

                                    <div class="form-group">
                                        <a class="btn btn-light favorite-btn" type="button" href="{{ item.toggleUrl }}">
                                            <i class="icon ti-heart"></i> <span class="d-none d-md-inline">{{ action|t }}</span>
                                        </a>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <ul class="icon-list order-lg-5">
                            <li><i class="icon text-success ti-check"></i> Gratis verzenden</li>
                            <li><i class="icon text-success ti-check"></i> 1-2 werkdagen levertijd</li>
                            <li><i class="icon text-success ti-check"></i> Geleverd door een echte vakman!</li>
                            <li class="d-none d-lg-block"><i class="icon text-primary ti-alert"></i> <span
                                        class="text-primary">Dit product kan alleen afgehaald worden</span></li>
                        </ul>
                        <dl class="details-list order-lg-2">
                            <dt>{{ "Artikelnummer"|t }}</dt>
                            <dd>{{ defaultVariant.sku }}</dd>
                            <dt>{{ "EAN"|t }}</dt>
                            <dd>{{ defaultVariant.productEan }}</dd>
                        </dl>

                        {% if currentUser %}
                            {% set order = craft.orders.user(currentUser).hasPurchasables(product.defaultVariant).one() %}
                            {% if order %}
                                <div class="alert alert-primary alert-dismissible fade show order-lg-6" role="alert">
                                    <p class="mb-0">{{ "Je hebt dit product al eens gekocht."|t }}
                                        <a href="/shop/customer/order?number={{ order.number }}">{{ "Bekijk bestelling"|t }}</a>. {{ "Dit is een notificatie."|t }}</p>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true"><i class="icon ti-close"></i></span>
                                    </button>
                                </div>
                            {% endif %}
                        {% endif %}

                    </div>
                    <!-- product description -->
                    <div class="details-info details-accordion-wrap">
                        <!-- anchor links desktop only -->
                        <ul class="anchor-list d-none d-lg-flex flex-lg-wrap align-items-lg-center">
                            {% if product.productDescription %}<li><a href="#beschrijving" class="anchor-details">{{ "Beschrijving"|t }}</a></li>{% endif %}
                            {% if product.productSpecifications|length %}<li><a href="#specificaties" class="anchor-details">{{ "Specificaties"|t }}</a></li>{% endif %}
                            {% if product.productDownloads|length %}<li><a href="#downloads" class="anchor-details">{{ "Downloads"|t }}</a></li>{% endif %}
                            {% if product.productProsAndCons|length %}<li><a href="#voor-en-nadelen" class="anchor-details">{{ "Voor- en nadelen"|t }}</a></li>{% endif %}
                        </ul>
                        <!-- accordion mobile only -->
                        <ul class="details-accordion">
                            {% if product.productDescription %}
                                <li id="beschrijving">
                                    <a href="#" class="accordion-opener">{{ "Beschrijving"|t }}</a>
                                    <div class="details-accordion-slide">
                                        {{ product.productDescription|raw }}
                                        <a href="#price-question"
                                           class="question-link popup-side-link text-warning d-none d-lg-inline-block"><i
                                                    class="icon ti-comment-alt"></i> Stel een vraag over dit product</a>
                                    </div>
                                </li>
                            {% endif %}
                            {% if product.productSpecifications|length %}
                                <li id="specificaties">
                                    <a href="#" class="accordion-opener">{{ "Specificaties"|t }}</a>
                                    <div class="details-accordion-slide">
                                        <h2 class="d-none d-lg-block">{{ "Specificaties"|t }}</h2>
                                        <dl>
                                            {% for specification in product.productSpecifications %}
                                                <dt>{{ specification.property }}</dt>
                                                <dd>{{ specification.value }}</dd>
                                            {% endfor %}
                                        </dl>
                                    </div>
                                </li>
                            {% endif %}
                            {% if product.productDownloads|length %}
                                <li id="downloads">
                                    <a href="#" class="accordion-opener">{{ "Downloads"|t }}</a>
                                    <div class="details-accordion-slide">
                                        <h2 class="d-none d-lg-block">{{ "Downloads"|t }}</h2>
                                        <ul class="icon-list">
                                            {% for download in product.productDownloads %}
                                                <li><i class="icon text-warning ti-download"></i> <a href="{{ download.downloadFile.one.url }}" target="_blank">{{ download.fileTitle }}</a></li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </li>
                            {% endif %}
                            {% if product.productProsAndCons|length %}
                                <li id="voor-en-nadelen">
                                    <a href="#" class="accordion-opener">{{ "Voor- en nadelen"|t }}</a>
                                    <div class="details-accordion-slide">
                                        <h2 class="d-none d-lg-block">{{ "Voor- en nadelen"|t }}</h2>
                                        <ul class="icon-list">
                                            {% for prosOrCon in product.productProsAndCons if prosOrCon.isPron %}
                                                <li><i class="icon text-success ti-plus"></i> {{ prosOrCon.value }}</li>
                                            {% endfor %}
                                            {% for prosOrCon in product.productProsAndCons if not prosOrCon.isPron %}
                                                <li><i class="icon text-warning ti-minus"></i> {{ prosOrCon.value }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </li>
                            {% endif %}
                        </ul>
                        <a href="#price-question"
                           class="popup-side-link question-link text-warning d-inline-block d-lg-none"><i
                                    class="icon ti-comment-alt"></i> Stel een vraag over dit product</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Popup your question -->
        <div class="popup-holder">
            <div id="your-question" class="popup-side popup-side-question">
                <form class="h-100">
                    <div class="d-flex flex-column d-lg-block h-100">
                        <h2>Stel je vraag</h2>
                        <div class="cart-product-item">
                            <div class="img-wrap">
                                <img src="images/img-08.png" srcset="images/img-08-2x.png 2x, images/img-08-2x.png 3x"
                                     alt="Dolphin Supreme M400 PRO zwembadrobot">
                            </div>
                            <div class="info">
                                <p class="title">Dolphin Supreme M400 PRO zwembadrobot</p>
                                <span class="price">178,00</span>
                            </div>
                        </div>
                        <div class="inputs-wrap">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Naam">
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="E-mailadres">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Telefoonnummer">
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" placeholder="Stel je vraag"></textarea>
                            </div>
                        </div>
                        <div class="last-block text-lg-right">
                            <button title="submit" class="btn btn-warning">Verzenden</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- Popup price question -->
        <div class="popup-holder">
            <div id="price-question" class="popup-side popup-side-question">
                <form class="h-100">
                    <div class="d-flex flex-column d-lg-block h-100">
                        <h2>Offerte aanvragen</h2>
                        <div class="cart-product-item">
                            <div class="img-wrap">
                                <img src="images/img-08.png" srcset="images/img-08-2x.png 2x, images/img-08-2x.png 3x"
                                     alt="Dolphin Supreme M400 PRO zwembadrobot">
                            </div>
                            <div class="info">
                                <p class="title">Dolphin Supreme M400 PRO zwembadrobot</p>
                                <span class="price">178,00</span>
                            </div>
                        </div>
                        <div class="inputs-wrap">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Naam">
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="E-mailadres">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Telefoonnummer">
                            </div>
                            <div class="form-group">
                                <textarea class="form-control"
                                          placeholder="Beschrijf werkzaamheden en specificaties"></textarea>
                            </div>
                        </div>
                        <div class="last-block text-lg-right">
                            <button title="submit" class="btn btn-warning">Aanvragen</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!-- text section -->
    {% include "_blocks/blocks.twig" %}
{% endblock %}
