.brand-section {
  padding: rem-calc(25 0);

  @include media-breakpoint-up(lg) {
    padding: rem-calc(65 0 110);
  }

  h2 {
    font-size: rem-calc(28);
    margin-bottom: rem-calc(18);

    @include media-breakpoint-up(lg) {
      margin-bottom: rem-calc(14);
    }
  }

  .text {
    font-size: rem-calc(12);
    font-weight: 300;
    margin-bottom: rem-calc(31);

    @include media-breakpoint-up(lg) {
      font-size: rem-calc(16);
      max-width: 870px;
      margin-bottom: rem-calc(60);
    }
  }
}

.alphabet-list {
  list-style: none;
  padding: 0;
  margin: rem-calc(0 0 31);
  margin-right: -10px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;

  li {
    margin-right: rem-calc(10);

    &:last-of-type {
      margin-right: 0;
    }
  }

  .alphabet-item {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: rem-calc(16);
    color: $gray-400;
    text-transform: uppercase;
    @include size(32px);
    border-radius: $border-radius;

    &:hover {
      color: $black;
      text-decoration: none;
    }

    &.active {
      background-color: $gray-100;
      color: $black;
    }
  }
}

.sorted-brands-wrap {
  position: relative;
  margin: rem-calc(0 0 23);

  @include media-breakpoint-up(md) {
    display: flex;
    align-items: center;
  }

  .symbol {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -20px;
    font-size: rem-calc(16);
    color: $black;
    text-transform: uppercase;
    margin-bottom: 0;

    @include media-breakpoint-up(md) {
      position: static;
      transform: translate(0, 0);
      font-size: rem-calc(40);
      margin-right: rem-calc(20);
    }

    @include media-breakpoint-up(xl) {
      font-size: rem-calc(80);
      margin-right: rem-calc(144);
    }
  }

  >.jcf-scrollable-wrapper {
    width: calc(100% + 2px);

    @include media-breakpoint-up(md) {
      width: calc(100% - 47px);
      border-bottom: 1px solid $gray-400;
    }

    @include media-breakpoint-up(xl) {
      width: calc(100% - 198px);      
    }
    
    .jcf-scrollable {
      height: 110px;

      @include media-breakpoint-up(md) {
        height: 120px;
      }
      
      @include media-breakpoint-up(xl) {
        height: 161px;
      }
    }

    .jcf-scrollbar-slider {
      @include media-breakpoint-up(md) {
        transform: translateY(-12px);
      }
    }
  }
  
}

.brands-wrap {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  width: 100%;

  @include media-breakpoint-up(xl) {
  }

  .brand-iten {
    text-align: center;
    flex-shrink: 0;
    width: 135px;
    font-size: rem-calc(14);
    margin-right: rem-calc(30);
    color: inherit;

    @include media-breakpoint-up(xl) {
      width: 220px;
      margin-bottom: rem-calc(24);
    }

    &:last-of-type {
      margin-right: 0;
    }

    &:hover {
      text-decoration: none;
    }
  }

  img {
    display: block;
    margin: 0 auto;
    max-width: 94px;

    @include media-breakpoint-up(xl) {
      max-width: 154px;
      margin-bottom: rem-calc(5);
    }
  }
}