.product-details-section{
  padding-bottom: rem-calc(36);

  @include media-breakpoint-up(lg) {
    padding-top: rem-calc(42);
  }  
}

.product-detail-wrap {
  h2 {
    line-height: 1.57;

    @include media-breakpoint-up(lg) {
      font-size: rem-calc(28);
      line-height: 1.5;
      margin-bottom: rem-calc(26);
    }
  }

  .alert-dismissible {
    font-size: rem-calc(12);

    @include media-breakpoint-up(lg) {
      max-width: 433px;
      font-size: rem-calc(14);
      margin-bottom: rem-calc(20);
    }
  }
}

.product-price {
  color: $warning;
  font-size: rem-calc(28);

  @include media-breakpoint-up(lg) {
    margin: rem-calc(0 0 11);
  }

  >span {
    &+span {
      margin-left: rem-calc(6);
    }
  }

  .old-price {
    font-size: rem-calc(16);
    text-decoration: line-through;
    color: $gray-700;
  }

  .old-price,
  .price {
    // &:before {
    //   content: '€ ';
    // }
  }

  .multiplied-price {
    color: $gray-600;
  }
}

.total-amount-form {
  margin: rem-calc(0 0 4);

  .form-group {
    &+.form-group {
      margin-left: rem-calc(8);

      @include media-breakpoint-up(lg) {
        margin-left: rem-calc(10);
      }
    }
  }

  .btn {
    padding-left: rem-calc(4);
    padding-right: rem-calc(4);
    
    &:not(.favorite-btn) {
      min-width: 130px;

      @include media-breakpoint-up(sm) {
        min-width: 172px;
      }
    }


    @include media-breakpoint-up(md) {
      min-width: 185px;
      font-size: rem-calc(18);
    }
  }

  .favorite-btn {
    min-width: 53px;
    font-size: 20px;
    padding: rem-calc(7 10);
    color: $warning;

    @include media-breakpoint-up(md) {
      font-size: rem-calc(16);
      font-weight: normal;
      padding: rem-calc(10);
    }

    @include media-breakpoint-up(lg) {
      padding: rem-calc(10 20);
    }

    .icon {
      display: inline-block;
      
      @include media-breakpoint-up(md) {
        margin-right: 8px;
      }

      @include media-breakpoint-up(lg) {
        font-size: 18px;
        vertical-align: middle;
      }
    }
  }
}

.addition-text {
  a {
    color: $primary;
    font-size: rem-calc(12);
    line-height: 1.67;

    &:after {
      content: "\e661";
      font-family: 'themify';
      line-height: inherit;
    }

    @include media-breakpoint-up(lg) {
      font-size: rem-calc(14);
      font-style: italic;
    }
  }
}

.icon-list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: rem-calc(14);
  color: $gray-700;

  &.half-li {
    @include media-breakpoint-up(lg) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;
    }

    li {
      @include media-breakpoint-up(lg) {
        width: 45%;
      }
    }
  }

  li {
    position: relative;
    margin: rem-calc(0 0 19);
    z-index: 1;
    padding-left: rem-calc(40);
  }

  .icon {
    position: absolute;
    top: 0;
    left: 0;
    font-size: rem-calc(20);
  }
}

.details-list {
  font-size: rem-calc(14);
  display: flex;
  flex-wrap: wrap;
  margin: 0;

  @include media-breakpoint-up(lg) {
    margin: rem-calc(0 0 5);
  }
  
  dt, dd {
    width: 50%;
    margin: 0 0 19px;
  }

  dt {
    font-weight: normal;

    @include media-breakpoint-up(lg) {
      width: 35%;
    }
  }
}

// DETAILS INFO (ACCORDION) =========================================================
.details-info {
  font-size: rem-calc(14);
  border-top: 1px solid $gray-400;
  padding-top: rem-calc(19);

  @include media-breakpoint-up(lg) {
    padding-top: rem-calc(21);
    max-width: 500px;
  }

  p {
    line-height: 1.75;
    margin-bottom: rem-calc(17);
  }

  h2 {
    @include media-breakpoint-up(lg) {
      font-size: rem-calc(20);
      line-height: 2;
      margin-bottom: rem-calc(20);
    }
  }

  h3 {
    font-size: rem-calc(14);
    font-weight: 500;
    line-height: 1.71;
  }

  dl {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    margin-bottom: rem-calc(0);
  }

  dt, dd {
    font-weight: normal;
    width: 45%;
    margin-bottom: rem-calc(9);

    @include media-breakpoint-up(lg) {
      margin-bottom: rem-calc(18);
    }

    &:last-of-type {
      @include media-breakpoint-up(lg) {
        margin-bottom: 0;
      }
    }
  }

  dt {
    @include media-breakpoint-up(lg) {
      width: 170px;
    }
  }

  dd {
    @include media-breakpoint-up(lg) {
      width: calc(100% - 200px);
    }
  }

  .icon-list {
    a {
      color: inherit;
    }

    li {
      &:last-of-type {
        @include media-breakpoint-up(lg) {
          margin-bottom: 0;
        }
      }
    }
  } 
}

.question-link {
  font-size: rem-calc(16);
  
  &:hover {
    text-decoration: none;
  }

  .icon {
    font-size: rem-calc(20);
    margin-right: rem-calc(18);
    vertical-align: middle;
  }
}

.details-accordion {
  @extend %listreset;

  >li {
    margin-bottom: rem-calc(4);

    @include media-breakpoint-up(lg) {
      border-bottom: 1px solid $gray-400;
      padding-bottom: rem-calc(36);
      margin-bottom: rem-calc(31);
    }

    &:last-of-type {
      @include media-breakpoint-up(lg) {
        border-bottom: none;
      }
    }

    &.active {
      .accordion-opener:after {
        transform: rotate(180deg);
      }
    }
  }

  .accordion-opener {
    position: relative;
    display: inline-block;
    vertical-align: top;
    font-size: rem-calc(16);
    color: $black;
    text-decoration: none;
    margin-bottom: rem-calc(21);

    &:after {
      display: inline-block;
      vertical-align: top;
      content: "\e64b";
      font-family: 'themify';
      margin-left: rem-calc(16);
      color: $warning;
    }

    @include media-breakpoint-up(lg) {
      display: none;
    }
  }

  .details-accordion-slide {
    p {
      &:last-of-type {
        @include media-breakpoint-up(lg) {
          margin-bottom: rem-calc(33);
        }
      }
    }
  }
}

.anchor-list {
  @include media-breakpoint-up(lg) {
    list-style: none;
    padding: 0;
    margin: rem-calc(0 0 28);
    font-size: rem-calc(16);
  }

  li {
    &+li {
      @include media-breakpoint-up(lg) {
        margin-left: 10px;
      }

      @include media-breakpoint-up(xl) {
        margin-left: 33px;
      }
    }
  }

  a {
    @include media-breakpoint-up(lg) {
      position: relative;
      color: $black;
      text-decoration: none;
      display: block;
      
      &:after {
        content:'';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 2px;
        background-color: rgba($gray-700, 0.27);
        @include animate(background);
      }
    }
    

    &:hover {
      &:after {
        background-color: $warning;
      }
    }
  }
}