// custom-check ==================
.custom-checkbox {
  font-weight: 300;

  .custom-control-label {
    &:before,
    &:after {
      border-radius: $border-radius;
      transition: none;
    }

    &:after {
      font-family: 'themify';
      content: "\e64c";
      text-align: center;
      line-height: 1.5;
      font-size: 12px;
      color: $warning;
      opacity: 0;
    }
  }
  .custom-control-input:checked ~ .custom-control-label::after {
    background-image: none;
    opacity: 1;
  }
}

.custom-control-input {
  &:focus ~ .custom-control-label::before {
    box-shadow: none;
  }
}

// custom radio =================
.custom-radio {
  &.custom-radio-with-icon {
    .custom-control-label {
      font-weight: 400;

      &:before {
        top: 11px;
        left: -39px;
      }

      &:after {
        top: 16px;
        left: -34px;
      }
    }

    .custom-control-label {
      display: block;
    }

    .bank-costs {
      font-size: rem-calc(18);
      line-height: 1.33;
      color: $black;
      flex-shrink: 0;
    }
  }

  .custom-control-label {
    font-weight: 300;
    line-height: 1.5;

    &:after {
      @include size(8px);
      background-color: $gray-200;
      border-radius: 50%;
      top: 8px;
      left: -28px;
    }
  }
  
  .custom-control-input:checked ~ .custom-control-label::after {
    background-color: $warning;
    background-image: none;
    opacity: 1;
  }
}

// custom-radio =====================
.custom-radio {
  position: relative;
  padding-left: 33px;
  z-index: 1;
}

.custom-radio-with-icon {
  padding-left: 39px;

  .radio-span {
    top: 11px;
  }
  
  .icon {
    font-size: 36px;
    margin-right: 24px;
  }

  .title {
    line-height: 1.33;
    font-size: rem-calc(18);
  }
  
  .text-radio {
    line-height: 1.43;
    font-size: rem-calc(14);
  }

  .text-info {
    line-height: 3;
    font-size: rem-calc(12);
  }

  .raio-price {
    font-size: rem-calc(18);

    &:before {
      content:'€ ';
    }
  }

  img {
    border-radius: $border-radius;
  }
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

textarea.form-control {
  height: 160px;
  resize: none;
}

.form-control {
  &:disabled {
    opacity: 0.5;
  }
}

.password-input-wrap {
  position: relative;

  .form-control {
    padding-right: rem-calc(36);
  }

  .show-btn {
    cursor: pointer;
    position: absolute;
    right: 0px;
    bottom: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    color: $primary;
    line-height: 1;
  }
}

// profile-form  ====================
.profile-form {
  font-weight: 300;

  .title {
    font-weight: 500;
    color: $black;
    margin-bottom: rem-calc(11);
  }

  .form-group {
    margin-bottom: rem-calc(27);
  }

  .custom-check {
    padding-left: 35px;
  }

  .btn {
    width: 100%;
  }
}

.form-group-sm {
  margin-bottom: rem-calc(10);

  @include media-breakpoint-up(lg) {
    margin-bottom: rem-calc(20);
  }
}


// edit-account-form ================
.edit-account-form {
  .form-group {
    margin-bottom: rem-calc(10);
    
    @include media-breakpoint-up(lg) {
      margin-bottom: rem-calc(20);
    }
  }

  .jcf-select-gender-select {
    width: 92px;

    .jcf-select-text {
      margin-right: 36px;
    }

    .jcf-select-opener {
      width: 34px;

      &:after {
        left: 32%;
      }
    }
  }

  .custom-check {
    padding-left: 33px;
    line-height: 1.5;

    .check-span {
      top: 2px;
    }
  }

  .btns-wrap {
    .btn {
      @include media-breakpoint-up(xl) {
        min-width: 185px;
      }
    }
    
    .btn-wide {
      @include media-breakpoint-up(xl) {
        min-width: 282px;
      }
    }
  }

}