/* carousel basic styles */

.hero-slideshow {
  position: relative;
  background-color: $primary;
  z-index: 1;
  
  .slide {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 440px;

    @include media-breakpoint-up(lg) {
      height: 540px;
    }
  }
  
  .slide.active {
    z-index: 2;
  }

  .slideset {
    height: 100%;
  }

  .container {
    height: 100%;
    display: flex;
    align-items: flex-end;
    padding: rem-calc(26 0);
    
    @include media-breakpoint-up(lg) {
      padding: rem-calc(30 0);
    }
  }

  .text {
    position: relative;
    background-color: rgba($white, .88);
    padding: rem-calc(37 30 25 29);
    width: calc(100% - 89px);
    z-index: 1;

    @include media-breakpoint-up(lg) {
      max-width: 570px;
      padding: rem-calc(42 30 40 29);
    }
  }

  .btns-wrap {
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    left: calc(100% - 25px);
    width: 90px;

    @include media-breakpoint-up(lg) {
      left: calc(100% - 19px);
    }

    .btn-prev {
      margin-right: 6px;
    }
  }

  h1,h2 {
    line-height: 1.82;
    color: $black;

    @include media-breakpoint-up(lg) {
      line-height: 1.43;
      font-size: rem-calc(28);
    }
  }
}


.hero-slideshow.not-enough-slides .btn-prev,
.hero-slideshow.not-enough-slides .btn-next {
  visibility: hidden
}

.btn-prev, 
.btn-next {
  display: inline-block;
  vertical-align: top;
  @include size(40px, 60px);
  line-height: 60px;
  text-align: center;
  background-color: $orange;
  color: $white;
  @include animate(opacity);

  &:hover {
    color: $white;
    text-decoration: none;
    opacity: 0.7;
  }
}