.product-slick-slider {
  margin-left: -30px;
  margin-right: -30px;
  background-color: $gray-200;
  margin-bottom: rem-calc(6);
  overflow: hidden;

  @include media-breakpoint-up(lg) {
    margin: rem-calc(0 0 29);
  }

  .slick-arrow {
    @include center-v;
    display: block;
    @include size(30px);
    color: $gray-400;
    padding: 0;
    border: none;
    background-color: transparent;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    font-family: 'themify';
    z-index: 2;
    @include animate(color);

    &:hover {
      color: $primary;
    }

    &:focus {
      outline: none;
    }
  }

  .slick-prev {
    left: 0;

    &:after {
      content: "\e662";
    }
  }

  .slick-next {
    right: 0;

    &:after {
      content: "\e661";
    }
  }
}

.slick-product-img {
  position: relative;
  
  .discount-wrap {
    position: absolute;
    top: 0;
    left: 32px;
    background-color: $orange;
    color: $white;
    @include size(52px, 56px);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
    font-weight: 500;
    line-height: 1.85;
    box-shadow: 0 1px 4px 0 rgba($black, 0.16);
    z-index: 2;
    
    &:after {
      content:'';
      position: absolute;
      top: calc(100% - 26px);
      left: 0;
      right: 0;
      height: 100%;
      background-color: inherit;
      transform: skewY(-17deg);
      z-index: -1;
    }
    
    @include media-breakpoint-up(lg) {
      @include size(60px, 50px);
    }
  }
}

// slider nav =========================================
.product-slider-nav {
  margin-bottom: rem-calc(20);

  @include media-breakpoint-up(lg) {
    margin-left: -30px;
  }

  .slick-slide {
    cursor: pointer;
    
    .slick-product-img {
      margin-left: rem-calc(7);

      @include media-breakpoint-up(lg) {
        margin-left: rem-calc(30);
      }
    }
  }

  .slick-product-img {
    background-color: $gray-200;

    @include media-breakpoint-up(lg) {
      width: 95px;
    }
  }
}