.visual-section {
  background-color: $primary;
  padding: rem-calc(218 0 0);
  line-height: 1.69;

  @include media-breakpoint-up(lg) {
    padding: 0;
    font-size: rem-calc(18);
    line-height: 1.5;
  }

  h1 {
    line-height: 1.43;
    font-size: rem-calc(22);
    color: $black;
    
    @include media-breakpoint-up(lg) {
      margin-bottom: rem-calc(20);
      font-size: rem-calc(28);
    }
  }

  p {
    &:last-of-type {
      margin-bottom: rem-calc(20);

      @include media-breakpoint-up(lg) {
        margin-bottom: rem-calc(44);
      }
    }
  }

  .container {
    max-width: none;

    @include media-breakpoint-up(lg) {
      max-width: 1228px;
    }
  }

  .text {
    background-color: rgba($white, .85);
    margin-left: -30px;
    margin-right: -30px;
    padding: rem-calc(33 30 30);

    @include media-breakpoint-up(lg) {
      max-width: 470px;
      min-height: 480px;
      padding: rem-calc(60 60 30);
      margin: 0;
    }
  }
}