{% if currentUser %}
    {% redirect 'shop/customer' %}
{% endif %}

{% extends 'shop/_layouts/main' %}

{% block body %}
    <div class="bg-white">
        <div id="main" class="container mx-auto p-6">
            <div class="row padding-top" id="resetCompleted">
                <div class="col-md-8">
                    <h1>{{ "Password changed"|t }}</h1>
                    <p>{{ "You new password has been successfully set."|t }}</p>
                    <a href="{{ url('shop/login') }}" class="btn btn-primary">{{ "Back to Login"|t }}</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
